.cards .card{
    color: white;
    background-color: darkorange;
    padding: 100;
    margin: 20;
}

.cards{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
     
}
