.cards .card{
    color: white;
    background-color: darkorange;
    margin-left: 30px;
}

.cards{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    
}
