
.css-1ygcj2i-MuiTableCell-root{
    font-weight: bold;
    background-color: darkblue;
    color: white;
}

#tableContainer{
    border-radius: 15px;
    width: 95%;
    color:white;
}

.even{
    background-color: lightblue;
}